@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    height: 0;
    font-family: "Poppins", sans-serif;
}
nav{
    padding: .5rem 1.5rem;

    background-color:#F3F3F3 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.leftNav{
    
    display: flex;
    
    align-items: center;

}
.logo{
    margin-left: 1.5rem;
    font-size: 1.3rem;
}
.pagetitle{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-left: -50rem;
    
}
section{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBox{
    margin-top: 2rem;
    width: 90%;
    height: max-content;
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.banner{
    width: 100%;
    height: 10rem;
    background-color: white;
    position: relative;

    
}
.banner img{

    width: 100%;
   height: 100%;
    /* height: 10rem; */
    object-fit: cover;
    object-position: center;
}
.icon{
    position: absolute;
    right: 0.5rem;
    bottom: 0;
}
/*.icon input[type="file"]::-webkit-file-upload-button{
width: 2rem;
height: 2rem;
color: transparent;
background-image: url(/media/blogmedia/edit\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
border: none;
border-radius: 0.2rem;
background-color: transparent;



}
.icon input[type="file"] label{
    color: red;
}*/
#fileinput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Style the custom label */
.custom-file-label {
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
   background-image: url("../media/blogmedia/edit\ \(1\).png");
   background-size: contain;
   background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

/* Add a hover effect for the label */
.custom-file-label:hover {
    transform: scale(1.1);
}

/* Position the .icon div relative to handle the absolute positioning of the file input */

.inputfields{
    
    width: 100%;
    
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 3rem;
    
}
.inputfields form{
    width: 50rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    box-sizing: border-box;
    
}

.inputtag {
    

    border: none;
    border-radius: 0.8rem; 
    padding: 2rem 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: poppins,sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.inputfields textarea{
    
    height: 8rem;
    
}
    
