@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* Navbar Part */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px gray;
}
.leftNav {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.searchBar {
    display: inherit;
    align-items: center;
    gap: .5rem;
}
.searchBar input {
    border: 1px black solid;
    padding: .4rem;
    border-radius: 15px;
    color: black;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-weight: 500;
    width: 250px;
} 
.searchBar input::placeholder {
    color: rgb(63, 62, 62);
    font-weight: 500;
}
.rightNav {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.profile-image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Main Content  */

.content {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.user-details, .blog-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: max-content;
    border-radius: 20px;
    padding: 2rem;
}
.user-details {
    width: 25vw;
}
.user-details .header {
    width: 100%;
    display: inherit;
    align-items: center;
    flex-direction: column;
}
.user-details .header .image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}
.user-details .name-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-details .name-field span {
    background-color: #F2F2F2;
    padding: .5rem 1rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}
.user-details .bio {
    font-weight: 500;
}

/* Blog container */
.blog-details{
    width: 70vw;
}
.blog-details .header{
    width: 100%;
}
.blog-details .header h4{
    width: 100%;
    text-align: left;
    margin: 0;
    font-weight: 600;
    text-decoration: underline;
}
.block-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.block-container .blog-block {
    border-radius: 20px;
    overflow: hidden;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
}
.blog-block .blog-image {
    width: 250px;
}
.blog-block .blog-image img {
    width: 160px;
    height: 100%;
    object-fit: cover;
}
.blog-block .blog-content {
    padding: 1rem;
}
.blog-block .blog-content h2{
    margin: 0;
    padding-bottom: .5rem;
}
.blog-block .blog-content span {
    font-weight: 500;
    color: rgb(129, 128, 128);
}
.blog-block .blog-content .bottom-part {
    padding-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 600;
}
.blog-content .bottom-part .time-part {
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.blog-block .blog-content .bottom-part span {
    font-size: 12px;
}
.blog-block .blog-content .bottom-part i{
    cursor: pointer;
    font-size: 24px;
}

.blog-details .slider {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.blog-details .slider i {
    font-weight: 800;
}